.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: flex;
}

body {
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.Video-Container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 80vw;
  background-color: #f7fcfe;
  background-color: #fff;
}

.Video-Container-Title {
  width: 75vw;
  background-color: #eef2f8;
  height: 10vh;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Side-Container {
  width: 20vw;
  margin: 1% 2% 1% 1%;
  border-radius: 16px;
  display: flex;
  background-color: #eef2f8;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  /* box-shadow: rgba(0, 0, 0, 0.19) 0px 5px 10px, rgba(0, 0, 0, 0.23) 0px 6px 6px; */
  /* box-shadow: 0 16px 48px 0 rgb(0 55 83 / 13%); */
}

.Video-Frame-Container {
  background-color: #eef2f8;
  border-radius: 16px;
  width: 75vw;
  height: 70vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Video-Frame-Remote {
  /* border: 1px solid green; */
  width: 40%;
}

input {
  border: 1px solid #a0a1a1;
  padding: 0.8em 0.4em;
  border-radius: 5px;
  font-size: 1rem;
  font-family: inherit;
  margin-bottom: 16px;
  width: 12vw;
  height: 2vh;
  /* -webkit-appearance: none; */
}

.Side-Container-Label {
  font-weight: 600;
}

.Side-Container li {
  font-size: 0.9vw;
  text-align: left;
}

.Video-Frame-User,
.Video-Frame-Remote {
  width: 50vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.Video-Frame-User video,
.Video-Frame-Remote video {
  width: 30vw;
  height: 65vh;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.Video-Frame-User-Name {
  border: 1px solid transparent;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  padding: 15px;
  position: absolute;
  bottom: 6%;
  left: 12%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 6vw;
}

.Video-Frame-User-Name-Connected {
  border: 1px solid #31dcd1;
  background-color: #31dcd1;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.Video-Frame-User-Name-Disconnected {
  border: 1px solid #eb5757;
  background-color: #eb5757;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.Video-Frame-User-Name-Border {
  border: 1px solid #fff;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  padding: 15px;
  position: absolute;
  bottom: 5%;
  left: 8%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 6vw;
}

.Video-Frame-User-Name p,
.Video-Frame-User-Name-Border p {
  color: white;
  font-size: 0.7vw;
  font-weight: 700;
  margin: 0;
}

.Audio-Button,
.Video-Button {
  width: 4vw;
}

.Call-Button {
  width: 4vw;
  margin: 0px 30px;
  animation: shakeIt 1s infinite ease-in-out;
}

.End-Button {
  width: 5vw;
  margin: 0px 30px;
}

.Video-Frame-Control {
  border-radius: 20px;
  background-color: #eef2f8;
  width: 75vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Clipboard-Button {
  border: none;
  padding: 0.8em 1em;
  margin-top: 20px;
  font-size: 1vw;
  border-radius: 5px;
  background: hsl(225, 100%, 40%);
  color: hsl(225, 100%, 98%);
  font-weight: 600;
  display: flex;
  align-items: center;
  cursor: pointer;
  will-change: transform;
  filter: drop-shadow(0 0 0.75rem hsla(225, 98%, 44%, 0.4));
  width: 50%;
  justify-content: center;
}

.Clipboard-Button-Call {
  border: none;
  padding: 0.8em 1em;
  margin-top: 20px;
  font-size: 1rem;
  border-radius: 5px;
  background: #01f402;
  color: hsl(225, 100%, 98%);
  font-weight: 600;
  display: flex;
  align-items: center;
  cursor: pointer;
  will-change: transform;
  filter: drop-shadow(0 0 0.75rem rgba(1, 244, 2, 0.4));
  justify-content: center;
}

.Chat-Message {
  display: flex;
  align-content: flex-start;
  width: 100%;
  flex-direction: column;
}

.Message-Left {
  align-self: flex-start;
  padding-left: 0.5rem;
  margin-bottom: 5px;
}

.Message-Right {
  align-self: flex-end;
  padding-right: 0.5rem;
  margin-bottom: 5px;
}

.Message-Background-Left {
  border: 1px solid blue;
  background-color: blue;
  border-radius: 50px;
  /* padding: 0.5rem 1rem; */
}

.Message-Background-Left p {
  margin: 5px !important;
  font-size: 0.8vw;
  color: white !important;
}

.Message-Left span {
  font-size: 0.6vw;
  color: #6b6d6d;
  text-align: left;
  padding-right: 4vw;
}

.Message-Background-Right {
  border: 1px solid rgb(212, 0, 255);
  background-color: rgb(212, 0, 255);
  border-radius: 50px;
  /* padding: 0.5rem 1rem; */
}

.Message-Background-Right p {
  margin: 5px !important;
  font-size: 0.8vw;
  color: white !important;
}

.Message-Right span {
  font-size: 0.6vw;
  color: #6b6d6d;
  text-align: right;
  padding-left: 4vw;
}

@keyframes shakeIt {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
